.image_container {
    max-width: 600px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 8px;
    margin : auto
}

.ingredients {
    padding: 10px;
    display: flex;
    flex-direction: column;

    &__list {
        max-height: 500px;
    }
}

.recipe {
    color: #333;

    &__page {
        background-color: white;
        border-radius : 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 85%;
        max-width: 1000px;
        margin: 0rem auto;
        padding: 1.5rem;

        ul,
        ol {
            font-family: Raleway, sans-serif;
            li {
                margin: 0.5rem
            }
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__image {
        max-width: 100%;
        display: block;
        margin: 0 auto 1.5rem;
        border-radius: 8px;

    }

    &__title {
        font-family: Montserrat, sans-serif;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #6a6664;
    }

    &__legend {
        font-family: Raleway, sans-serif;
        font-size: .9rem;
        margin-bottom: 1rem;
        color: #6a6664;
        text-align: center;
        font-style: italic;
        width: 100%;

        &:before,
        &:after {
            content: "~";
            margin: 0 0.5rem;
        }
    }
}

.section__title {
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #6a6664;
    border-bottom: 2px solid #3a2ba1;
    display: inline-block;
}

.instructions {
    font-size: 1.2rem;
    font-family: Raleway, sans-serif;
    padding-left: .5rem;

    &__step {
        margin-top: 0.8rem;
    }

    &__separator {
        border-bottom: 1px rgba(0, 0, 0, 0.199) dashed;
        width: 20%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px
    }
}

body {
    background: #ebe5d9;
}

.frieza {
    opacity : 50%
}