@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat') format('ttf');
    font-weight: 700;
    font-style: normal;
}